.cart-icon {
  display: inline-block;
  font-size: 24px;
  position: relative;
}

.circle {
  bottom: 16px;
  color: black;
  font-size: 12px;
  position: absolute;
  right: -4px;
}

.cart-quantity {
  bottom: 10px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  right: -8px;
  background-color: slateblue;
  border-radius: 50%;
  padding: 1px 3px;
}