.cart-icon {
  display: inline-block;
  position: relative;
  font-size: 24px;
}

.circle {
  bottom: 16px;
  color: black;
  font-size: 12px;
  position: absolute;
  right: -4px;
}

.cart-quantity {
  bottom: 6px;
  color: white;
  font-size: 10px;
  position: absolute;
  right: -1px;
}