.cart-icon {
  position: relative;
  display: inline-block;
}

.cart-icon {
  font-size: 24px;
}

.circle {
  position: absolute;
  /* Position the circle absolutely within the container */
  bottom: 16px;
  /* Adjust the vertical position */
  right: -4px;
  /* Adjust the horizontal position */
  font-size: 12px;
  /* Adjust the size as needed */
  color: black;
  /* Optional: Add a background color */
}

.cart-quantity {
  position: absolute;
  /* Position the quantity absolutely within the container */
  bottom: 6px;
  /* Adjust the vertical position to be above the circle */
  right: -1px;
  /* Align horizontally with the circle */
  font-size: 10px;
  /* Adjust the size as needed */
  color: white;
  /* Optional: Change text color */
}